Założenia projektu:
- obróbka i analiza danych
- zastosowanie klasyfikacji lub regresji
- zastosowanie hiperparametrów w budowie modeli
- wyniki badań w formie wykresów i tabel
- rozwiązanie powinno przynieść przyrost wartości biznesowej
- [opcjonalnie] zbadanie wpływu PCA na wyniki
- [opcjonalnie] uwzględnienie zapotrzebowania na wartości wprowadzane przez użytkownika

https://www.kaggle.com/datasets/sameepvani/nasa-nearest-earth-objects

In [2]:
import pandas as pd

In [16]:
df = pd.read_csv("/Users/katarzyna/Desktop/Bootcamp/jdszr10-TheChaosMakers/projekt_3_ML/neo_v2.csv")

Analiza danych

In [18]:
df.head()

,id,est_diameter_min,est_diameter_max,relative_velocity,miss_distance,absolute_magnitude,hazardous
0,2162635,1.198271,2.679415,13569.249224,5.483974e+07,16.73,False
1,2277475,0.265800,0.594347,73588.726663,6.143813e+07,20.00,True
2,2512244,0.722030,1.614507,114258.692129,4.979872e+07,17.83,False
3,3596030,0.096506,0.215794,24764.303138,2.543497e+07,22.20,False
4,3667127,0.255009,0.570217,42737.733765,4.627557e+07,20.09,True

Data cleaning

In [17]:
df.drop(columns = ['name','sentry_object', 'orbiting_body'], inplace= True)

In [20]:
clean = pd.get_dummies(df, columns = ['hazardous'], drop_first= True)